<div class="cuadroInformativo cuadroTextoGrande">
<%- model_class = Service -%>
<div class="page-header">
  <h1><%=t 'Reporte de Servicio' %></h1>
</div>
<table class="table">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name("Ruta") %></th>
      <th><%= model_class.human_attribute_name("Origen") %></th>
      <th><%= model_class.human_attribute_name("Destino") %></th>
      <th><%= model_class.human_attribute_name("Precio") %></th>
      <th><%= model_class.human_attribute_name("Observacion") %></th>
      <th><%= model_class.human_attribute_name("Fecha") %></th>
      <th><%= model_class.human_attribute_name("Evaluaciones") %></th>
       <% if current_client%>
  
       <th><%= model_class.human_attribute_name("Coductor") %></th>
      <th><%=t 'Evaluar' %></th>
        <% elsif current_driver %>
        <th><%= model_class.human_attribute_name("Cliente") %></th>
        <% end %>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.route.description %></td>
        <td><%= service.route.origin %></td>
        <td><%= service.route.end %></td>
        <td><%= service.route.price %></td>
        <td><%= service.observation %></td>
        
        <td><%= service.created_at.to_date%></td>
        <td><%= service.valuation.description_valuation %></td>
         <% if current_client%>
          <td><%= link_to  service.driver.name_driver,driver_path(service.driver,@client) %></td>
        <td>
          
       <%= link_to t('.edit', :default => t("Evaluar Servicio")),
                      edit_client_service_path(@Client,service), :class => 'btn btn-success btn-xs' %> 
        <% elsif current_driver %>
        <th><%=service.client.no_client %></th>
        <% end %>
        </td>
         
      </tr>
     
    <% end %>
  </tbody>
   <p>
       <% if current_client%>
    <%= link_to "Descargar Reporte",client_services_path(format: "csv") %> 
    
    <% elsif current_driver %>
    <%= link_to "Descargar Reporte",driver_services_path(format: "csv") %> 
    <% end %>
    
</p>



  

</table>
<p>
   <% if current_client%>
  <a type="button" class="btn btn-warning" href="/paginaprincipal_usuario/index">Atras</a>
   <% elsif current_driver %>
    <a type="button" class="btn btn-warning" href="/pagina_principal_taxista/index">Atras</a>
   <% end %>
</p>
</div>
