<%- model_class = Service -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:address_origin) %>:</strong></dt>
  <dd><%= @service.address_origin %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address_end) %>:</strong></dt>
  <dd><%= @service.address_end %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @service.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paymentype) %>:</strong></dt>
  <dd><%= @service.paymentype %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observation) %>:</strong></dt>
  <dd><%= @service.observation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:no_client) %>:</strong></dt>
  <dd><%= @service.no_client %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name_driver) %>:</strong></dt>
  <dd><%= @service.name_driver %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description_valuation) %>:</strong></dt>
  <dd><%= @service.description_valuation %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              services_path, :class => 'btn btn-default'  %>
    
<%= link_to t('Evaluar Servicio', :default => t("helpers.links.edit")),
              edit_service_path(@service), :class => 'btn btn-default' %>

