<div class="cuadroInformativo cuadroTextoGrande">
<h2>Ingreso Taxista</h2>

<%= simple_form_for @driver, :html => { class: 'form-horizontal', multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs formulario">
    <table class="tablaFormulario">
      <tbody>
        <tr>
          <td>
            <%= f.input :name_driver %>
            <%= error_span(@driver[:name_driver]) %>
          </td>
          <td>
            <%= f.input :address_driver %>
            <%= error_span(@driver[:address_driver]) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :telephone_driver %>
            <%= error_span(@driver[:telephone_driver]) %>
          </td>
          <td>
            <%= f.input :email, required: true, autofocus: true %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          </td>
          <td>
            <%= f.input :password_confirmation, required: true %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :picture, as: :file %>
          </td>
          <td>
            <%= f.button :submit, "Sign up", :class=>"boton" %>
            <%= render "drivers/shared/links" %>
          </td>
        </tr>
      </tbody>
    </table>
    <!--
    <%= f.input :name_driver %>
    <%= error_span(@driver[:name_driver]) %>
    <%= f.input :address_driver %>
    <%= error_span(@driver[:address_driver]) %>
    <%= f.input :telephone_driver %>
    <%= error_span(@driver[:telephone_driver]) %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :picture, as: :file %>
    -->
  </div>
<!--
  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
  -->
<% end %>


</div>