<div class="cuadroInformativo cuadroTextoGrande">
<h2>Registrar Taxista</h2>

<%= simple_form_for @driver, :html => { class: 'form-horizontal', multipart: true } do |f| %>
<!--
  <%= f.error_notification %>
-->
  <div class="form-inputs formulario">
    <table class="tablaFormulario">
      <tbody>
        <tr>
          <td>
            <%= f.input :name_driver,  label:"Nombre"%>
            <%= error_span(@driver[:name_driver]) %>
          </td>
          <td>
            <%= f.input :address_driver, label:"Direccion" %>
            <%= error_span(@driver[:address_driver]) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.input :telephone_driver , label:"Telefono"%>
            <%= error_span(@driver[:telephone_driver]) %>
          </td>
          <td>
            <%= f.input :email, required: true, autofocus: true %>
          </td>
          
        </tr>
        <tr>
          <td>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) , label:"Password"%>
          </td>
          <td>
            <%= f.input :password_confirmation, required: true , label:"Repita Password"%>
          </td>
        </tr>
        <tr>
           <td>
            <%= f.input :placa_driver , label:"Placa"%>
          </td>
           <td>
            <%= f.input :picture, as: :file , label:"Foto" %>
          </td>
        </tr>
          <tr>
          <td>
            <%= f.button :submit, "Registrar Taxista", :class=>"btn btn-primary" %>
             <a type="button" class="btn btn-warning" href="/pagina_principal_administrador/index">Atras</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<!--
  <div class="form-actions">
  </div>
  -->
<% end %>


</div>