<div class="cuadroInformativo cuadroTextoGrande">
  <h2>Registro Usuario</h2>

<%= simple_form_for @client, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :no_client, required: true, autofocus: true, label:"Nombre" %>
     <%= f.input :telephone, required: true, autofocus: true , label:"Telefono"%>
    <%= f.input :email, required: true, autofocus: true , label:"Email"%>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) , label:"Password" %>
    <%= f.input :password_confirmation, required: true  , label:"Repita Password"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>

<%= render "clients/shared/links" %>
</div>

