<p id="notice"><%= notice %></p>

<p>
  <strong>No client:</strong>
  <%= @client.no_client %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @client.telephone %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
