

<div class="cuadroInformativo cuadroTextoGrande">
    <h1 class="text-center">Bienvenido a TaxiXpress</h1>
    <br><br><br><br><br>
    <div class="text-center">
        <%= link_to "Registrar Taxista", new_driver_registration_path, :class => "btn btn-lg boton" %>
        <%= link_to "Registrar  Usuarios", new_client_registration_path, :class => "btn btn-lg boton" %>
        <%= link_to "Registrar  Rutas", new_route_path, :class => "btn btn-lg boton" %>
        <%= link_to "Registrar  Tipos de Pago", new_payment_type_path, :class => "btn btn-lg boton" %>
        <%= link_to "Registrar  Feedback", new_valuation_path, :class => "btn btn-lg boton" %>
    </div>
</div>

