
<div class='contenedorsobre'>
<div class='contenedorPrincipal'>
<div class='botonesPaginaPrincipal'>
<%= image_tag("usuario.png") %><%= link_to "asd", paginaprincipal_usuario_path %>
<%= image_tag("taxista.png") %><%= link_to "Taxista", pagina_principal_taxista_path %>
<%= image_tag("administrador.png") %>
</div>
</div>
</div>