<div id="cuadroInicio" class="cuadroInformativo">
	<p class="cuadroTexto">
		
		<%= image_tag  "ayuda.png", :class => "usuario" %>
		<%= link_to "USUARIO", paginaprincipal_usuario_index_path %>
		
	</p>
	<p class="cuadroTexto">
		
		<%= image_tag  "ayuda.png", :class => "taxista" %>
		<%= link_to "TAXISTA", pagina_principal_taxista_index_path %>
		
	</p>
	<p class="cuadroTexto">
		
		<%= image_tag  "ayuda.png", :class => "administrador" %>
		<%= link_to "ADMINISTRADOR", pagina_principal_administrador_index_path %>
		
	</p>
</div>
