
<div class='cuadroInformativo contenedorsobre'>
  <div class='contenedorPrincipal'>
    <h2 class="text-center titulo">
			<%= image_tag  "ayuda.png", :class => "usuario" %>
			Login
		</h2>
  </div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true, placeholder:"Email" %>
    <%= f.input :password, required: false, placeholder:"Password" %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions text-center">
    <%= f.submit 'Continuar', :class => 'btn boton' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
