<div class="cuadroInformativo cuadroTextoGrande">
<%= simple_form_for @driver, :html => { class: 'form-horizontal', multipart: true } do |f| %>
  <%= f.input :name_driver %>
  <%= error_span(@driver[:name_driver]) %>
  <%= f.input :address_driver %>
  <%= error_span(@driver[:address_driver]) %>
  <%= f.input :telephone_driver %>
  <%= error_span(@driver[:telephone_driver]) %>
  <%= f.input :placa_driver %>
  <%= error_span(@driver[:placa_driver]) %>
  <%= f.input :email %>
  <%= error_span(@driver[:email]) %>
  <%= error_span(@driver[:encrypted_password]) %>
  <%= f.input :reset_password_token %>
  <%= f.input :picture, as: :file %>
  <%= error_span(@driver[:picture]) %>
  


  <%= f.button :submit,drivers_path, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                drivers_path, :class => 'btn btn-danger' %>
<% end %>
</div>