<div class="cuadroInformativo cuadroTextoGrande">
<%- model_class = Driver -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name("Nombre") %></th>
      <th><%= model_class.human_attribute_name("Direccion") %></th>
      <th><%= model_class.human_attribute_name("Telefono") %></th>
      <th><%= model_class.human_attribute_name("Status") %></th>
      <th><%= model_class.human_attribute_name("Placa") %></th>
      <th><%= model_class.human_attribute_name("Correo") %></th>
        <th><%= model_class.human_attribute_name("Foto") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= link_to  driver.name_driver,driver_path(driver) %></td>
        <td><%= driver.address_driver %></td>
        <td><%= driver.telephone_driver %></td>
        <td><%= driver.status_driver %></td>
        <td><%= driver.placa_driver %></td>
        <td><%= driver.email %></td>
         <td><%= image_tag driver.picture.url(:thumb) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_driver_path(driver), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      driver_path(driver),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_driver_path,
            :class => 'btn btn-primary' %>
</div>